h3{
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
    margin: 12px 0 30px 0;
}
.card{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 20px;
    background: transparent;
    border: none;
}
a{
    color: #3d7aed;
    text-decoration: none;
    display: none;
 }

 @media (max-width: 400px) {

    a{
     display: inline;
    }
 }
 