<div id="title">
    <div id="name">
        <h2> {{descripcion.nombre}} </h2>
        <p> {{descripcion.profesion}} </p>
    </div>
    <div id="title-photo">
        <div id="photo">
            <img src="https://avatars.githubusercontent.com/u/71468355?s=400&u=654a1552881a9e6727d5fe34d036c76fe855715a&v=4"
                alt="edisson-photo">
        </div>
    </div>
</div>
<div class="article-info" style="opacity: 1; transform: none;">
    <h3>Sobre mí</h3>
    <p> {{descripcion.sobreMi}}
    </p>
</div>
<div class="article-info" style="opacity: 1; transform: none;">
   <div-experience></div-experience>
</div>
<div class="article-info" style="opacity: 1; transform: none;">
    <link-web></link-web>
</div>