<div id="title">
    <div>
        <h2>Edisson Chamorro</h2>
        <p>Software developer (Spring / Angular )</p>
    </div>
    <div id="title-photo">
        <div id="photo">
            <img src="https://avatars.githubusercontent.com/u/71468355?s=400&u=654a1552881a9e6727d5fe34d036c76fe855715a&v=4"
                alt="edisson-photo">
        </div>
    </div>
</div>
<div class="article-info" style="opacity: 1; transform: none;">
    <h3>Sobre mí</h3>
    <p> Soy un desarrollador de Software con experiencia en diseño, creación y mantenimiento de aplicaciones web. Me he
        desempeñado como desarrollador en proyectos donde he adquirido habilidades en análisis de calidad de productos
        de software a nivel de pruebas funcionales, desarrollo de soluciones para vulnerabilidades y soporte en
        diferentes
        proyectos. Además, he trabajado en proyectos personales con el fin de mejorar y emplear las mejores prácticas de
        desarrollo buscando tener código limpio. Mi enfoque está en la entrega de soluciones eficientes y escalables,
        con
        habilidades para trabajar en equipo y adaptarme a nuevas tecnologías y desafíos.
    </p>
</div>
<div class="article-info" style="opacity: 1; transform: none;">
   <div-experience></div-experience>
</div>
<div class="article-info" style="opacity: 1; transform: none;">
    <link-web></link-web>
</div>