<div id="title">
    <div id="name">
        <h2> {{descripcion.name}} </h2>
        <p> {{descripcion.profession}} </p>
    </div>
    <div id="title-photo">
        <div id="photo">
            <img src="/assets/imgs/me.jpg"
                alt="edisson-photo">
        </div>
    </div>
</div>
<div class="article-info" style="opacity: 1; transform: none;">
    <h3>About me</h3>
    <p> {{descripcion.aboutMe}}
    </p>
</div>
<div class="article-info" style="opacity: 1; transform: none;">
   <div-experience></div-experience>
</div>
<div class="article-info" style="opacity: 1; transform: none;">
    <link-web></link-web>
</div>