p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.article-experience{
    padding-left: 3.4em;
    text-indent: -3.4em;
}
.article-experience span{
    font-weight: 600;
    margin-right: 1em;

}
h3{
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
    margin: 12px 0 16px 0;
}
@media (max-width: 400px) {

    .article-experience span{
        font-size: 13px;
    }
    .article-experience{
        font-weight: bold;
    }
}
