nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    z-index: 2;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    backdrop-filter: blur(10px);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100%;
    padding: 8px;
}

.nav-container a {
    text-decoration: none;
    color: #1a202c;
}

.nav-container p {
    font-size: 18px;
    font-weight: bolder;
   
}

#name-container {
    width: auto;
    height: 100%;
    margin-right: 20px;
    
}

#name-container h1 {
    margin: 0;
    width: 100%;
    height: 100%;

}
#name-container p{
    padding: 3px;
    
}
.nav-link {
    margin: 0;
    width: 100%;
    height: 100%;

}

.nav-link span {
    width: 100%;
    height: 100%;
}

.nav-link p {
    margin: 0;
    padding-top: 8px;
}

#links-container {
    display: flex;
    flex-direction: row;
}

#links-container a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
}

#theme-container {
    margin-left: 200px;
}

.container-button {
    width: 40px;
    height: 40px;
}


.theme-button {
    width: 100%;
    height: 100%;
    background-color: #805AD5;
    border-radius: 10px;
    border: none;
}

.night-theme_button {
    background-color: #20202380 !important;
}

.night-theme_content {
    background: rgb(32, 32, 35);
}

@media (max-width: 600px) {

    .nav-container{
        padding-right: 15px !important;
        padding-left: 15px !important;

    }
    #theme-container{
        margin-left: 100px;
    }

}
@media (max-width: 400px) {

    #name-container p{
        display: none;
    }

}