nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: #20202380;
    display: flex;
    justify-content: center;
    z-index: 2;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    backdrop-filter: blur(10px);

}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    
}

.nav-container a {
    text-decoration: none;
}

.nav-container p {
    font-size: 18px;
    font-weight: bolder;

}

/* Estilos para div name container*/
#name-container {
    width: auto;
    height: 100%;
    padding: 8px;
}

#name-container h1,
a,
span,
p {
    margin: 0;
    width: 100%;
    height: 100%;

}

/* Estilos para div links container*/
#links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

/* Estilos para div nav link*/
.nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
}

.nav-link span {
    width: 100%;
    height: 100%;
}

.nav-link p {
    margin: 0;
    padding-top: 8px;
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
}

.nav-link svg{
    width: 16px;
    height: 16px;
    padding-right: 3px;
}
/* Estilos para div theme container*/

#theme-container {
    margin-left: 200px;
    padding: 8px;
}

.container-button {
    width: 40px;
    height: 40px;
}


.theme-button {
    width: 100%;
    height: 100%;
    background-color: #805AD5;
    border-radius: 6px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-button svg{
    max-width: 16px;
    max-height: 16px;
}

/* Estilos para modo noche*/
.sun-theme {
    background: rgba(255, 255, 255, 0.25);
}

/* Estilos para menu hamburguesa*/
#hamburger-menu {

    display: none;
    
}
#hamburger-menu a{
    margin: 5% 0;
    color: #202023;
}
.show{

    display: flex !important;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 60px;
    width: 200px;
    padding: 5%;
    background: rgba(255, 255, 255, 0.849);
    border-radius: 10px;
}

#menu-btn {
    display: none;
    width: 40px;
    height: 40px;   
    margin-left: 10%;
    
}
#menu-btn button{
    width: 40px;
         
}

/* Estilos responsive*/
@media (max-width: 750px) {

    .nav-container {
        padding-right: 15px !important;
        padding-left: 15px !important;

    }

    #theme-container {
        margin-left: 10%;
    }
    
    #name-container p{
        padding: 0;
    }

}

@media (max-width: 450px) {
    #menu-btn {
        display: block;
    }

    #links-container {
        display: none;
    }
    
}