<div class="work-container">
    <a [routerLink]="['/works']" id="back">
        <p>Regresar</p>
    </a>
    <h3>{{work!.name}}</h3>
    <p> {{work!.desc}}</p>
    <ul id="table">
        <li *ngIf="work?.url">
            <span>LINK </span>
            <a [href]="work!.url" target="_blank">
                <p>{{ work!.name}}</p>
            </a>
        </li>
        <li>
            <span>PLATAFORMAS</span>
            <P> {{work!.plataformas}} </P>
        </li>
        <li>
            <span>STACK</span>
            <P>{{work!.stack}}</P>
        </li>
    </ul>
    <img [src]="work! | WorkImage" [alt]="work?.id">
</div>