body {
    display: block;
    width: 100%;
    height: 100%;
    background: #f0e7db;
}
#margin{
    width: auto;
    height: 100%;
    margin: 0 300px;
    padding: 0 16px;
    padding-bottom:2rem;
}
.main {
    width: auto;
    height: auto;
    background: #f0e7db;
}