#main-article{
    position: relative;
    opacity: 1;
    transform: none;
    background: #f0e7db;

}
.article-container{
    margin: 0 109px;
    padding: 0 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

@media (max-width: 770px) {

    .article-container{
        margin: 0 15%;
    }

}


@media (max-width: 670px) {

    .article-container{
        margin: 0 5%;
    }

}
